.alone-css .alone-css:hover .navbar a {
    color: white;
}

.alone-css .alone-css:hover {
    text-decoration: none;
}

.alone-right-footer {
    float: right;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: #175da3;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 80px;
}
