<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ site.syntax_theme }}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <style>
         .alone-css {
                color: white;
                text-decoration: none;
      }
         .alone-css:hover {
                color: white;
                text-decoration: none;
      }
    </style>
  </head>

  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="https://theuserge.github.io/" class="alone-css">Userge Docs</a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.buttons.btn1_url }}" class="btn"><i class="fab fa-github"></i> {{ site.buttons.btn1_title }}</a>
      <a href="{{ site.buttons.btn2_url }}" class="btn"><i class="fas fa-plug"></i> {{ site.buttons.btn2_title }}</a>
      <a href="{{ site.buttons.btn3_url }}" class="btn"><i class="fas fa-sync"></i> {{ site.buttons.btn3_title }}</a>
      <a href="{{ site.buttons.btn4_url }}" class="btn"><i class="fas fa-users"></i> {{ site.buttons.btn4_title }}</a>
      <br>
      <a href="{{ site.buttons.btn5_url }}" class="btn">{{ site.buttons.btn5_title }}</a>
      <a href="{{ site.buttons.btn6_url }}" class="btn">{{ site.buttons.btn6_title }}</a>
      <a href="{{ site.buttons.btn7_url }}" class="btn">{{ site.buttons.btn7_title }}</a>
      <a href="{{ site.buttons.btn8_url }}" class="btn">{{ site.buttons.btn8_title }}</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits">Made with ❤️ by <a href="https://t.me/UsergeOT">UsergeTeam</a>.</span>
      </footer>
    </main>

    <script>
      Array.from(
        document.querySelectorAll('h1[id],h2[id],h3[id],h4[id],h5[id],h6[id]')
      ).forEach(h => {
        h.addEventListener('click', e => {
          window.location.hash = e.target.getAttribute('id');
        });
      })
    </script>

  </body>
</html>
